:root {
    --light-red: #eeabab;
    --light-green: #ddffda;
    --white: #ffffff;
    --dark-red: #681818;
    --dark-green: #0d530d;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/*----------HEADER----------*/

header {
    width: 100%;
    height: 60px;
    background: var(--light-red);
    border-bottom: 2px solid var(--dark-red);
}

#head-title {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--dark-red);
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding-top: 4px;
}

/*----------MAIN----------*/

#main {
    padding: 0px 10px;
    text-align: center;
    display: block;
}

/*----------COLUMNS----------*/

#left-column {
    float: left;
    width: 65%;
}

#right-column {
    float: left;
    width: 35%;
}

/*----------MONEY & BETS----------*/

#div-money {
    background: var(--light-green);
    margin: 80px auto;
    width: 500px;
    border: 2px solid var(--dark-green);
}

#your-money, #bet {
    color: var(--dark-green);
    font-weight: 600;
    margin: 0;
    padding: 1em;
}

#money, #bet-money {
    color: var(--dark-green);
}

#bet-list {
    list-style-type: none;
    margin: 25px;
    height: 125px;
    padding: 30px 0;
}

.bet-item {
    font-size: 1.7em;
    font-weight: 800;
    color: var(--dark-green);
    background-image: url(/img/coin.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline;
    padding: 30px;
    margin: 10px;
}

/*----------ROULETTE----------*/

#roulette {
    width: 900px;
    margin: 150px auto 0 auto;
}

#roulette-list {
    background-image: linear-gradient(#226620ad, var(--light-green), var(--light-green), #226620ad);
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 50px 0;
    border: 2px solid var(--dark-green);
}

.roulette-list-item {
    display: inline;
    margin: 40px;
}

.roulette-list-item img {
    height: 140px;
}

/*----------WINS----------*/

#wins {
    background-color: var(--light-green);
    clear: both;
}

#win-list {
    list-style-type: none;
    padding: 15px;
}

.win-list-item {
    text-align: left;
    background-color: var(--white);
    border: 2px solid var(--dark-green);
    margin: 20px;
}

.win-list-item img {
    height: 65px;
    padding: 0 4px;
    margin: 0;
}

.your-win {
    float: right;
    font-size: 2em;
    margin: 4px 7px;
    padding: 8px 18px;
    background-image: url(/img/coin.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--dark-green);
}

/*----------BUTTON----------*/

#button-div {
    margin: 100px;
}

#button {
    font-size: 3.5em;
    text-transform: uppercase;
    color: #011b05;
    background-image: linear-gradient(#226620ad, var(--light-green), var(--light-green), #226620ad);
    border: 2px solid var(--dark-green);
    padding: 20px 40px;
}